{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >

</head>
<body>
<section class="">
    <div class="container-fluid">
        <div class="row in-header">
            <div class="col-xs-6">
                <img src="/media/logo.png" width="200px">
            </div>
            <div class="col-xs-6 in-company">
                <p>ELIXEUR | Invoice for {{ value.company.name }}</p>
            </div>
        </div>
    </div>
</section>

<section class="">
    <div class="container-fluid">
        <div class="row in-state">
            <div class="col-xs-6 in-id">
                <h1>invoice</h1>
                <p> #{{ value.invoice_id }} </p>
            </div>
            <div class="col-xs-6 in-due">
                <p>Invoice due date: <i> {{ value.date }} </i> </p>
            </div>
        </div>
    </div>
</section>

<section class="invoice-frm">
    <div class="container-fluid">
        <div class="row in-form">
            <div class="col-xs-6">
                <h4>from</h4>
                <h3>elixeur</h3>
                <p>18/1, Naya Paltan, Dhaka-1000</p>
                <p>
                    <strong>P</strong> +880 197 354 9387
                    <strong>E</strong> gettoknow@elixeur.com
                </p>
            </div>
            <div class="col-xs-6">
                <h4>issued to:</h4>
                <h3>{{ value.company.name }}</h3>
                <p>{{ value.address }}</p>
                <p>
                    <strong>P</strong> {{ value.phone }}
                    <strong>E</strong> {{ value.email }}
                </p>
            </div>
        </div>
    </div>
</section>


<section class="invoice-company">
    <div class="container-fluid">
        <div class="row reference">
            <div class="col-xs-6">
                <p>
                    <strong>Project ref:</strong> #{{ value.reference }}
                </p>
            </div>
            <div class="col-xs-6">
                <p>
                    <strong>Date issued:</strong> {{ value.date }}
                </p>
            </div>
        </div>
    </div>
</section>


<section class="main-table">
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>item details</th>
                        <th>paid</th>
                        <th>net payable</th>
                    </tr>
                </thead>
                <tbody>
                    {% for projects in value.project.all %}
                    <tr>
                        <td>
                            {{ projects.description }} <br>
                            {{ projects.details }}
                        </td>
                        <td>
                            {{ projects.paid }}
                        </td>
                        <td>
                            {{ projects.payable }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>



<section class="invoice-calculation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-8 well">
                <p>
                    <strong>Sub Total:</strong>
                    {{ subtotal }} BDT
                </p>
                <p>
                    <strong>Vat:</strong>
                    5 %
                </p>
                <p>
                    <strong>Total:</strong>
                    {{ total }} BDT
                </p>
            </div>
        </div>
    </div>
</section>


<section class="terms">
    <div class="container-fluid">
        <div class="row terms-content">
            <div class="col-xs-12">
                <p class="text-center"> <strong>Terms:</strong> <i>07 days from issuance</i> </p>
            </div>
        </div>
    </div>
</section>



<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-3">
                <p>Thank you for your business - Please make all cheques payable to</p>
                <div class="col-xs-9 col-xs-offset-3 elx-acc">
                    <br>
                    <p>ELIXEUR</p>
                    <p>bank: pubali bank ltd.</p>
                    <p>branch: nayapaltan</p>
                    <p>Account No.: 2438901043207</p>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>


</body>
</html>